* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Manjari', sans-serif;
}

nav {
  display: flex;
  width: 100%;
  padding: 2em;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: fixed;
  font-size: 1em;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

nav p {
  font-size: 1.5em;
  font-weight: bold;
}

.responsive-webpage {
  width: 100vw;
  height: 100vh;
}

.center {
  text-align: center;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("assets/cape-breton-island.jpg");
/*  background-image: url("assets/cape-breton-island.jpg");*/
  background-size: 100% 100%;
  text-transform: uppercase;
  color: white;
}

#home h1 {
  font-size: 3em;
}

.roles-container {
  display: flex;
}

.skills-container {
  display: flex;
}

