* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

#home {
  background-image: url("assets/cape-breton-island.jpg");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#home h1 {
  background-color: white;
  position: relative;
  top: 50vh;
}

